<div>
    <img src="images/medius.png" title="MEDIUS" style="margin-right: 1.5%" class="pull-left"> <h3><b>MEDIUS Nurse Post</b></h3>
Система являеться модулем системы MEDIUS предназначенным для автоматизации работы медицинского персонала.
Данная версия программы MEDIUS Nurse Post предоставляет возможность ведения учета температурного листа, а именно
учет давление, температуры и пульса. Данные визуализированны в графиках.
</div>
<br/>
<h3>Начало работы</h3>
1. Для начала Вы можете добавить пациента нажав вкладку "Добавить лист"<br/>
<img class="img-thumbnail" src="images/manual/first-step.png" title="Первый шаг"><hr>
2. После необходимо заполнить поля в форме пациента и сохранить форму<br/>
<img class="img-thumbnail" src="images/manual/second-step.png" title="Второй шаг"><hr>
3. Чтобы просмотреть данные пациента необходимо нажать указателем по полю с фамилией и номером карты пациента<br/>
<img class="img-thumbnail" src="images/manual/third-step.png" title="Второй шаг"><hr>
4. После этого откроется панель с вкладками данных пациента, где размещенны данные о давлении, пульсе и температуре<br/>
<img class="img-thumbnail" src="images/manual/four-step.png" title="Второй шаг"><hr>
