<h4>Пульс
    <button  ng-click="togglePulseForm();
        pulsedate = null;
        addpulse = null" class="btn btn-xs btn-primary pull-right">Добавить</button>
</h4>
<form novalidate name="pulseform" ng-show="showPulseForm">
    <label>Дата</label>
    <input type="text" ng-model="pulsedate" class="form-control"/><br/>
    <label>Пульс</label>
    <input ng-model="addpulse" type="text" class="form-control"/> {{addtemp}}<br/>
    <button ng-click="togglePulseForm()" class="btn btn-sm btn-danger">Отменить</button>
    <button ng-click="addPulse(namePatient, idPatient, pulsedate, addpulse)" class="btn btn-sm btn-primary">Добавить</button>
    <hr/>
</form>


<table class="table table-hover">
    <tr>
        <th ng-repeat="value in pulsedates">
            {{value}}
        </th>
    </tr>
    <tr>
        <td ng-repeat="value in pulses track by $index">
            {{value}}
        </td>
    </tr>
</table>


